/* ================================
   🖥️ Large Desktop (1201px+)
================================ */
@media screen and (min-width: 1201px) {
   /* large desktop styles */
}


/* ================================
   💻 Laptop (993px – 1200px)
================================ */
@media screen and (max-width: 1200px) {
   /* laptop styles */
}


/* ================================
   📲 Tablet (577px – 992px)
================================ */
@media screen and (max-width: 992px) {
   .menu-list {
      display: none;
   }

   .menu-icon {
      display: inline;
      font-size: 18px;
   }
}


/* ================================
   📱 Mobile (≤576px)
================================ */
@media screen and (max-width: 576px) {
   .menu-list {
      display: none;
   }

   .menu-icon {
      display: inline;
      font-size: 18px;
   }
   .banner-container {
      flex-direction: column-reverse;
      text-align: center;
   }
}