/* ----google inter font---- */
.font-inter {
    font-family: "Inter", sans-serif;
}

/* ----google inter font---- */

/* ----google poppins font----- */
.font-poppins {
    font-family: "Poppins", sans-serif;
}

/* ------------shared style start------- */
/* ----google poppins font-----  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----container 1 */
.container-1 {
    width: min(90%, 1200px);
    margin: 0 auto;
}

/* --container 2 */
.container-2 {
    width: min(90%, 1110px);
    margin: 0 auto;
}

/* ---container 3 */
.container-3 {
    width: min(90%, 1047px);
    margin: 0 auto;
}

/* ---hide class */
.hide {
    display: none;
}

/* ---primary color pink */
.primary-color {
    color: rgba(224, 44, 109, 1);
}

/* ---header color */
.dark-gray {
    color: rgba(58, 58, 58, 1);
}

/* ----card box color--*/
.medium-dark-gray {
    color: rgba(24, 25, 31, 1);
}

/* --display felx-- */
.display-flex {
    display: flex;
}

/* ------------shared style end ------- */

/* ---- header style area start-------*/

/*----- nav area style start----- */

/*----- nav area style end ----- */

/* ---- header style area end-------*/