/* ----google inter font---- */
.font-inter {
    font-family: "Inter", sans-serif;
}

/* ----google inter font---- */

/* ----google poppins font----- */
.font-poppins {
    font-family: "Poppins", sans-serif;
}

/* ------------shared style start------- */
/* ----google poppins font-----  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---background color */
.background-color {
    color: rgba(170, 170, 170, 1);
}

/* ----container 1 */
.container-1 {
    width: min(90%, 1200px);
    margin: 0 auto;
}

/* --container 2 */
.container-2 {
    width: min(90%, 1110px);
    margin: 0 auto;
}

/* ---container 3 */
.container-3 {
    width: min(90%, 1047px);
    margin: 0 auto;
}

/* ---hide class */
.hide {
    display: none;
}

/* ---primary color pink */
.primary-color {
    background-color: rgba(224, 44, 109, 1);
}

/* ---header color 3A3A3A*/
.dark-gray {
    color: rgba(58, 58, 58, 1);
}

/* ----card box color--*/
.medium-dark-gray {
    color: rgba(24, 25, 31, 1);
}

/* --display flex-- */
.display-flex {
    display: flex;
}

/* ------------shared style end ------- */

/* ---- header style area start-------*/

/*----- nav area style start----- */
header .nav-container {
    justify-content: space-between;
    align-items: center;
    margin-top: clamp(2rem, 1.2vw, 2rem)
}

.nav-container .nav-logo {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font: 600;
}

.nav-container .menu {
    align-items: center;
    gap: 1.25rem;
}

.menu .menu-cart img {
    width: 36px;
}

.menu .menu-list {
    list-style: none;
}

.menu .menu-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

/*----- nav area style end ----- */
/* ----banner style start---- */
.banner .banner-container {
    justify-content: space-between;
    align-items: center;
}

.banner-container .banner-content {
    max-width: 580px;
    width: 100%;
}

.banner-content .banner-heading {
    font-size: clamp(2rem, 5vw, 3.25rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-content .banner-info {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-content .content-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: white;
    border: none;
    border-radius: 41px;
}

.content-btn .btn-icon {
    margin-left: 8px;
}

/* ----banner style end---- */

/* ---- header style area end-------*/