/* ----google inter font---- */
.font-inter {
    font-family: "Inter", sans-serif;
}

/* ----google inter font---- */

/* ----google poppins font----- */
.font-poppins {
    font-family: "Poppins", sans-serif;
}

/* ------------shared style start------- */
/* ----google poppins font-----  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---background color */
.background-color {
    color: rgba(170, 170, 170, 1);
}

/* ----container 1 */
.container-1 {
    width: min(90%, 1200px);
    margin: 0 auto;
}

/* --container 2 */
.container-2 {
    width: min(90%, 1110px);
    margin: 0 auto;
}

/* ---container 3 */
.container-3 {
    width: min(90%, 1047px);
    margin: 0 auto;
}

/* ---hide class */
.hide {
    display: none;
}

/* ---primary color pink */
.primary-color {
    background-color: rgba(224, 44, 109, 1);
}

/* ---header color 3A3A3A*/
.dark-gray {
    color: rgba(58, 58, 58, 1);
}

/* ----card box color--*/
.medium-dark-gray {
    color: rgba(24, 25, 31, 1);
}

/* --display flex-- */
.display-flex {
    display: flex;
}

.btn-icon {
    margin-left: 8px;
}

.company,
.item-container,
.feature {
    margin-bottom: clamp(4rem, 6vw, 6.25rem);
}

.rating-color {
    color: #fb8200;
    width: 16px;
}

/* ------------shared style end ------- */

/* ---- header style area start-------*/

/*----- nav area style start----- */
header .nav-container {
    justify-content: space-between;
    align-items: center;
    margin-top: clamp(2rem, 1.2vw, 2rem)
}

.nav-container .nav-logo {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    font: 600;
}

.nav-container .menu {
    align-items: center;
    gap: 1.25rem;
}

.menu .menu-cart img {
    width: 36px;
}

.menu .menu-list {
    list-style: none;
}

.menu .menu-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

/*----- nav area style end ----- */
/* ----banner style start---- */
.banner .banner-container {
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(2.5rem, 5vw, 5rem);
}

.banner-container .banner-content {
    max-width: 580px;
    width: 100%;
}

.banner-content .banner-heading {
    font-size: clamp(2rem, 5vw, 3.25rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-content .banner-info {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.banner-content .content-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: white;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}

.banner-container .banner-img {
    max-width: 440px;
    width: 100;
    margin-right: clamp(1.25rem, 4vw, 2.8125rem);
    background: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* ----banner style end---- */

/* ---- header style area end-------*/
/* ----main area style start--- */
/* ----company section style---- */
.company {
    /* margin-top: clamp(2rem, 4.5vw, 3.25rem); */
    padding-top: clamp(2rem, 4.5vw, 5.25rem);
}

.company .company-container {
    /* padding: clamp(1.5rem, 3.5vw, 2.125rem) clamp(1.5rem, 5vw, 3.75rem); */
    padding: 36px 62px;
    border-top: 1px solid rgba(58, 58, 58, 1);
    border-bottom: 1px solid rgba(58, 58, 58, 1);
    align-items: center;
}

.company-container .company-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    align-items: center;
    margin: auto 0;
}

/* ----company section style---- */
.item-container .item-heading {
    font-size: clamp(1rem, 2.5vw, 2.125rem);
    font-weight: 600;
    line-height: clamp(3rem, 6vw, 4.375rem);
    text-align: center;
    margin-bottom: 1.8rem;
}

.card .card-name {
    font-size: clamp(1.5rem, 2.2vw, 1.75rem);
    font-weight: 500;
    line-height: clamp(2rem, 3vw, 2.5rem);
    color: rgba(24, 25, 31, 1);
}

.card .card-price {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 150%;
}

.card .rating-num {
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
}

.card .card-info {
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
    line-height: 143%;
}

.item-card-box .card {
    padding: 1rem;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    max-width: 328px;
    width: 100%;
    border-radius: 5px;

}

.item-container .item-card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item-container .item-see-more {
    color: rgba(224, 44, 109, 1);
    font-weight: 700;
    font-size: 1rem;
    text-align: end;
    padding-top: clamp(2rem, 4vw, 3.125rem);
}

/* -----item card section style end--- */
/* ----feature style start---- */
.feature .feature-container {
    align-items: center;
    gap: clamp(2rem, 5vw, 6rem);
    justify-content: space-between;
}

.feature-container .feature-img {
    max-width: 404px;
    width: 100%;
}

.feature-content .feature-heading {
    font-size: clamp(1.5rem, 3vw, 2.3rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 6vw, 3.75rem);
    color: rgba(10, 8, 38, 1);
    margin-bottom: 1rem;
}

.feature-content .feature-info {
    max-width: 501px;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(1.4rem, 2.5vw, 1.75rem);
    color: rgba(108, 108, 108, 1);
    margin-bottom: clamp(0.75rem, 2vw, 1.25rem);
}

.feature-content .feature-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: white;
    border: none;
    cursor: pointer;
}

/* ----feature style :end---- */
/* ----main area style end--- */